<h1>cheapEgames</h1>
<h2>Games You Like</h2>
<h2>At Prices You'll Love</h2>

<form method="GET" action="/results">
    <input id="search" type="text" name="search" placeholder="Genre" required />
    <button type="Submit">Search</button>
</form>

<hr>

<% gameNameArr.forEach(name => { %>
    <p><%= name %></p>
<% }) %>

<% let i = 0 %>
<% dealArr.forEach(urlEnd => { %>
    <a style='color:white;' href="https://www.cheapshark.com/redirect?dealID=<%= urlEnd %>"><%= gameNameArr[i] %></a>
    <% i++ %>
<% }) %>

<% dealPriceArr.forEach(price => { %>
    <p style="font-weight:bold;">$<%= price %></a>
    <% i++ %>
<% }) %>

<% thumbNailArr.forEach(picUrl => { %>
    <img src="<%= picUrl %>" style="min-width: 200px;" />
<% }) %>