<h1>cheapEgames</h1>
<h2>Games You Like</h2>
<h2>At Prices You'll Love</h2>

<form method="GET" action="/results">
    <input id="search" type="text" name="search" placeholder="Genre" required />
    <button type="Submit">Search</button>
</form>

<hr>

<% rawgInfo.forEach(result => { %>
    <% if(!result.tags.find(object => object.slug === "free-to-play")) { %>
        <div>
            
            <h3 style='color:white;'><%= result.name %></h3>
            <form method="GET" action="/results/<%= result.name %>">
                <textarea hidden id='id' name="id"><%= result.id %></textarea>
                <button style="background: none; border: none;" href="/results/<%= result.name %>">
                    <img src="<%= result.background_image %>" style="max-width: 200px;"/>
                </button>
                <button ><%= result.name %></button>
            </form>
        </div>
    <% } %>
<% }) %>

