<h1>cheapEgames</h1>
<h2>Games You Like</h2>
<h2>At Prices You'll Love</h2>

<form method="GET" action="/results">
    <input id="search" type="text" name="search" placeholder="Genre" required />
    <button type="Submit">Search</button>
</form>

<hr>

<% gameNameArr.forEach(name => { %>
    <a href="/comments/game/"><%= name %></p>
<% }) %>

<% dealArr.forEach(urlEnd => { %>
    <a style='color:white;' href="https://www.cheapshark.com/redirect?dealID=<%= urlEnd %>">Click Here to Purchase</a>
<% }) %>

<% dealPriceArr.forEach(price => { %>
    <p style="font-weight:bold;">$<%= price %></a>
<% }) %>

<% let i = 0; %>
<% thumbNailArr.forEach(picUrl => { %>
    <img href="https://www.cheapshark.com/redirect?dealID=<%= dealArr[i] %> src="<%= picUrl %>" style="min-width: 200px;" />
    <% i++ %>
<% }) %>