<img src="<%= gameInfo.background_image %>" style="max-width:400px;"/>

<h2><%= gameInfo.name %></h2>

<%- gameInfo.description %>

<div>
    <h2>Genres:</h2>
    <% gameInfo.genres.forEach(genre => { %>
        <p><%= genre.name %></p>
    <% }) %>
</div>


<% if(gameDeal.length === 0) { %>
    <p>No Deal Currently Available</p>
<% } else { %>
    <h3>$<%= gameDeal[0].cheapest %></h3>

    <a style="color:white;" target="_blank" href="https://www.cheapshark.com/redirect?dealID=<%= gameDeal[0].cheapestDealID %>">Click Here to Purchase</a>

    <div>
        <form method="POST" action="/results/<%= gameInfo.name %>">
            <textarea hidden id="image" name="image"><%= gameInfo.background_image %></textarea>
            <textarea hidden id="name" name="name"><%= gameInfo.name %></textarea>
            <textarea hidden id="price" name="price"><%= gameDeal[0].cheapest %></textarea>
            <textarea hidden id="deal" name="deal"><%= gameDeal[0].cheapestDealID %></textarea>
            <button>Add to Collection</button>
        </form>
    </div>

    
<% } %>

<hr>

<% if(game != null) { %>
    <h2>Comments:</h2>
    <% game.comments.forEach(com => { %>
        <p><%= com.description %></p>
        <ul>
            <p>- <%= commentor.find(user => user.dataValues.id === com.userId).name %></p>
        </ul>
    <% if(user != null) { %>
        <% if(user.id === com.userId) { %>
            <form method="GET" action="/comments/edit/<%= com.id %>">
                <textarea type="text" id="rawgId" name="rawgId" hidden><%= gameInfo.id %></textarea>
                <button>EDIT</button>
            </form>
            
        <% } %>
    <% } %>

    <% }) %>

<hr>
    <% if(user != null) { %>
        <h3>Add a Comment:</h3>
        <form method="POST" action="/comments/<%= gameInfo.name %>">
        
            <textarea type="text" id="name" name="name" hidden><%= user.name %></textarea>
            <textarea type="text" id="userId" name="userId" hidden><%= user.id %></textarea>
            <textarea type="text" id="gameId" name="gameId" hidden><%= game.id %></textarea>
            <textarea type="text" id="queryId" name="queryId" hidden><%= gameInfo.id %></textarea>
        
          <div>
            <label for="description">Comment</label>
            <textarea type="text" id="description" name="description" required></textarea>
          </div>
        
          <input type="submit">
        </form>
    <% } else { %>
        <div>
            <a style="color:white;" href="/users/login">Click Here to Login</a>
        </div>
        
        
        <a style="color:white;" href="/users/new">Not a Member yet? Click Here to Sign Up</a>
        
    <% } %>
    
<% } %>

