<h2>Welcome to your profile <%= user.name %>!</h2>

<a style='color:white;' href="/comments">View Your Comments</a>



<% user.games.forEach(game => { %>
    <img style='max-width: 200px;' src="<%= game.image %>"/>
    <h2><%= game.name %></h2>
    <h2>Current Price: $<%= game.price %></h2>
    <a target='_blank' style='color:white;' href="https://www.cheapshark.com/redirect?dealID=<%= game.deal %>">Click Here for Deal</a>
<% }) %>

