<div class="container text-center">
<h2>Welcome to your Profile <%= user.name %>!</h2>

<a class='fw-bold fs-4' style='text-decoration:none; color:rgb(161, 255, 247);' href="/comments">View Your Comments</a>
</div>

<div class="container d-flex flex-wrap justify-content-center text-center gap-2">
<% user.games.forEach(game => { %>
    <form method="GET" action="/results/<%= game.name %>">
        <textarea hidden id="id" name="id"><%= game.rawg_id %></textarea>
        <button style="background: none; border: none;" href="/results/<%= game.name %>">
            <img src="<%= game.image %>" style="max-width: 200px;"/>
        </button>
        <button href="/results/<%= game.name %>"><%= game.name %></button>
    </form>

    <form method="POST" action="/users/profile/game/<%= game.id %>/?_method=DELETE">
        <input type="Submit" value="DELETE"/>
    </form>
    
    <h2>Price as of <%= game.updatedAt.toDateString() %>: $<%= game.price %></h2>
    <a target='_blank' style='color:white;' href="https://www.cheapshark.com/redirect?dealID=<%= game.deal %>">Link to Deal as of <%= game.updatedAt.toDateString() %></a>
<% }) %>

<hr>

<form method="POST" action="/users/profile/?_method=DELETE">
    <textarea hidden id="userId" name="userId"><%= user.id %></textarea>
    <input type="Submit" value="DELETE"/>
</form>
</div>
